.input-files-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.div-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.dip-buttons-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}

.dip-table {
  width: 100%;
}

.search-input {
  flex: 0.3;
}
