@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Manrope:wght@300;400;500;600;700;800&family=Roboto:wght@400;700;900&family=Work+Sans:wght@400;700;900&display=swap");

:root {
  /* colors */
  --clr-blue: #00a6ed;
  --clr-gray: #808191;
  --clr-darkWhite: #fcfcfc;
  --clr-white: #ffffff;
  --clr-bg: #f5f5f5;

  /* font-size */
  --fz-small: 12px;
  --fz-normal: 16px;
  --fz-large: 22px;

  /* font-weight */
  --bold-light: 300;
  --bold-normal: 500;
  --bold-dark: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  height: 100vh;
  position: relative;
  text-align: center;
  background-color: var(--clr-bg);
}
.left_block {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  background-color: var(--clr-white);
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.2s;
}

.left_block.hide {
  flex: 0.00001;
  padding: 0;
}

.right_block {
  display: flex;
  flex-direction: column;
  flex: 6;
  overflow: hidden;
}
.nav {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 200px;
  background-color: var(--clr-white);
}
.close-button {
  display: flex;
}
.nav-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 3rem;
  padding-left: 0;
}
.nav-list-item {
  display: flex;
  padding: 0.5rem;
  list-style: none;
  transition: all 0.3s;
  border-radius: 12px;
  font-size: 25px;
  background-color: var(--clr-darkWhite);
}
.nav-list-item:hover {
  background-color: var(--clr-blue);
  cursor: pointer;
}
.nav-list-item.active {
  background-color: var(--clr-blue);
  cursor: pointer;
}

/* all the children of .nav-list-item */
.nav-list-item.active > * {
  color: var(--clr-darkWhite);
}

.list-icon {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 0.5rem;
  color: var(--clr-gray);
  transition: all 0.3s;
  margin-left: 0.4rem;
}
.list-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

/* all the children of .nav-list-item */
.nav-list-item:hover > * {
  color: var(--clr-darkWhite);
}

.legal {
  font-size: 11px;
}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  height: 20%;
  padding: 1rem;

  background-color: var(--clr-darkWhite);
  font-size: var(--fz-large);
}
.toggle-icon {
  display: flex;
  align-items: center;
  color: var(--clr-gray);
  transition: all 0.3s;
  margin-left: 0.5rem;
}
.header .title {
  padding-left: 2rem;
}
.content {
  display: flex;
  flex: 20;
  flex-direction: column;
  align-items: center;
  height: 80%;

  background-color: var(--clr-bg);
  padding: 1.5rem;
  overflow-y: auto;
}

.page-title {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 0 0 1rem;
  text-decoration: underline;
  font-style: italic;
}
